<header>
    <div class="container-grid header-flex">
      <div class="container imagem-logo">
        <img src="assets/images/gamemania.png" alt="">
      </div>
      <button class="btn-mobile" id="btn-mobile" onclick="mostrarMenu()">
        <img src="assets/images/hamburger_icon.png" alt="">
      </button>
  
      <nav class="cotainer menu" id="nav">
        <a class="item-menu" href="#">Lançamentos</a>
        <a href="#" class="item-menu">PC Gamers</a>
        <a href="#" class="item-menu">Jogos</a>
        <a href="#" class="item-menu">Notebooks</a>
        <a href="#" class="item-menu">Celulares</a>
        <a href="#" class="item-menu">Acessórios</a>
        <a href="#" class="item-menu">Contato</a>
        <a href="login.html" class="item-menu">Login</a>
      </nav>
    </div>

  </header>
  
  <!-- **********************BANNER********************** -->
  <main>
    <section class="banner">
      <div class="conteiner grid banner-box">
        <div id="imagem-banner" class="conteiner grid imagem-banner">
          <img id="img-banner" src="assets/images/pcgamer.jpg" alt="" width="600px" height="400px">
        </div>
        <img id="img-banner-responsivo" src="assets/images/banneralternativo.png" alt="">
        <div class=" conteiner grid banner-info">
          <h2>Monte Seu PC Gamer</h2>
          <p>Receba seu PC montado e configurado do seu jeito</p>
          <a href="#" class="botao-banner">Saiba Mais</a>
        </div>
      </div>
    </section>
  </main>
  
  <!-- **********************MAIS VENDIDOS********************** -->
  <div id="destaques">
    <div class="container">
      <div class="row">
        <div class="container titulo">
          <h3>Mais vendidos</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 1">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 2">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 3">
            <div class="card-body">
              <h5 class="card-title">Produto em destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 4">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 5">
            <div class="card-body">
              <h5 class="card-title">Produto em destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 6">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 7">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/GameManiaCard.jpg" class="card-img-top" alt="Imagem Produto 8">
            <div class="card-body">
              <h5 class="card-title">Produto em Destaque</h5>
              <p class="card-text">Descrição do Produto</p>
              <a href="#" class="btn btn-primary card-buy">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- **********************SOBRE NÓS********************** -->
  <main>
    <section class="conteiner sobre-nos">
      <div id="imagem-sobre-nos"class="conteiner sobre-nos-box">
        <div  class="conteiner imagem-sobre-nos">
          <img id="imgSobreNos" src="assets/images/let the game begin.png" alt="" width="600px" height="350px">
        </div>
        <div class=" conteiner grid sobre-nos-info">
          <h4>Let The Game Begin</h4>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et
            per.Paisis, filhis, espiritis santis.A ordem dos tratores não altera o pão duris.Todo mundo vê os porris que
            eu tomo, mas ninguém vê os tombis que eu levo!</p>
          <p class="container-p2">Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis
            nisl.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Tá deprimidis, eu conheço uma
            cachacis que pode alegrar sua vidis.Quem num gosta di mim que vai caçá sua turmis!</p>
        </div>
      </div>
    </section>
  </main>
  <!-- **********************RODAPÉ********************** -->
  <footer>
    <section class=" conteiner rodape">
      <div class="container rodape-box">
        <div class="departamentos">
          <h5>Departamentos</h5>
          <ul>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Periféricos</a></li>
            <li><a href="#">Jogos</a></li>
            <li><a href="#">Acessórios</a></li>
            <li><a href="#">Smartphones</a></li>
          </ul>
        </div>
        <div class="institucional">
          <h5>Institucional</h5>
          <ul>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Dúvidas Frequentes</a></li>
            <li><a href="#">Trocas e devoluções</a></li>
            <li><a href="#">Segurança e Privacidade</a></li>
            <li><a href="#">Como Comprar</a></li>
          </ul>
        </div>
        <div class="minha-conta">
          <h5>Minha Conta</h5>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Cadastro</a></li>
          </ul>
        </div>
        <div class="contato">
          <h5>Contato</h5>
          <ul>
            <li>(00)0000-0000</li>
            <li>faleconosco@gamemania.com.br</li>
            <li>Rua das Araucárias, 230 - Florianópolis-SC</li>
          </ul>
        </div>
        <div class="redes-sociais">
          <h5>Redes Sociais</h5>
          <div class="logo-redes-sociais">
            <img class="insta" src="assets/images/logo insta.webp" alt="Logotipo Instagram" width="25px" height="25px">
            <img class="face" src="assets/images/logo face (1).png" alt="Logotipo Facebook" width="25px" height="25px">
            <img class="whats" src="assets/images/logo whats.png" alt="Logotipo Whatsapp" width="25px" height="25px">
          </div>
        </div>
      </div>
    </section>
  </footer>
  <footer id="assinatura">
      <p>&copy; Desenvolvido por Aline Pereira</p>
  </footer>
